body{
    margin: 0px;
    padding: 0px;
    
}
.header{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 50px;
}
.logo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.logo h1:hover {
    color: yellow;
    transition: 0.5s ease-in;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li{
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white;
}
nav ul li:hover{
    background-color: yellow;
    cursor: pointer;
    transition: 0.5s ease-in;
    color: black;
}